<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="file" xsi:type="File"
          layout="[${longdate}][${level:uppercase=true}]${newline} ${message} ${newline} ユーザ　：${aspnet-session:variable=EmployeeName} ${newline} 部門　　：${aspnet-session:variable=DepartmentName}  ${newline} ${onexception:  SQL     ：${aspnet-session:variable=ExecSQL} ${newline} ${newline} ${exception:format=Type, ToString:separator=*}} ${newline}"
          fileName="D:/LogFiles/Crms_${date:universalTime=false:format=yyyyMM}/Crms_${date:universalTime=false:format=yyyyMMdd}.log"
          archiveFileName="D:/LogFiles/Crms_${date:universalTime=false:format=yyyyMM}/Crms_${date:universalTime=false:format=yyyyMMdd}_{#####}.log"
          maxArchiveFiles="100"
          archiveAboveSize="1024000"
          archiveNumbering="Sequence"
          archiveEvery="Day"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="UTF-8" />

    <target name="syslog" xsi:type="File"
          layout="[${longdate}][${level:uppercase=true}]${newline} ユーザ　：${aspnet-session:variable=EmployeeName} ${newline} 部門　　：${aspnet-session:variable=DepartmentName} ${newline} ${message}  ${newline}"
          fileName="D:/LogFiles/CrmsSyslog_${date:universalTime=false:format=yyyyMM}/CrmsSyslog_${date:universalTime=false:format=yyyyMMdd}.log"
          archiveFileName="D:/LogFiles/CrmsSyslog_${date:universalTime=false:format=yyyyMM}/CrmsSyslog_${date:universalTime=false:format=yyyyMMdd}_{#####}.log"
          maxArchiveFiles="100"
          archiveAboveSize="1024000"
          archiveNumbering="Sequence"
          archiveEvery="Day"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="UTF-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="file" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="syslog" />
  </rules>
</nlog>