USE [WPH_DB]
GO
/****** Object:  Table [dbo].[T_Prefecture]    Script Date: 08/04/2014 09:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Prefecture](
	[PrefectureCode] [char](2) NULL,
	[Prefecture] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
