USE [WPH_DB]
GO
/****** Object:  View [dbo].[WV_ServiceCostSummary]    Script Date: 08/04/2014 09:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WV_ServiceCostSummary]
AS
SELECT                  TOP (100) PERCENT CASE WHEN a.SlipNumber IS NOT NULL THEN a.SlipNumber ELSE b.SlipNumber END AS SlipNumber, 
                                  CASE WHEN a.RevisionNumber IS NOT NULL THEN a.RevisionNumber ELSE b.RevisionNumber END AS RevisionNumber, CASE WHEN b.cost IS NOT NULL
                                   THEN b.cost ELSE 0 END AS PartsCost, CASE WHEN a.cost IS NOT NULL THEN a.cost ELSE 0 END AS ServiceCost
FROM                     (SELECT                  L.SlipNumber, L.RevisionNumber, SUM(L.Cost) AS cost
                                    FROM                     dbo.ServiceSalesHeader AS H INNER JOIN
                                                                      dbo.ServiceSalesLine AS L ON H.SlipNumber = L.SlipNumber AND H.RevisionNumber = L.RevisionNumber
                                    WHERE                   (H.DelFlag = '0') AND (L.ServiceType = '002')
                                    GROUP BY          L.SlipNumber, L.RevisionNumber, L.ServiceType) AS a FULL OUTER JOIN
                                      (SELECT                  L.SlipNumber, L.RevisionNumber, SUM(L.Cost) AS cost
                                            FROM                     dbo.ServiceSalesHeader AS H INNER JOIN
                                                                              dbo.ServiceSalesLine AS L ON H.SlipNumber = L.SlipNumber AND H.RevisionNumber = L.RevisionNumber
                                            WHERE                   (H.DelFlag = '0') AND (L.ServiceType = '003')
                                            GROUP BY          L.SlipNumber, L.RevisionNumber, L.ServiceType) AS b ON a.SlipNumber = b.SlipNumber AND 
                                  a.RevisionNumber = b.RevisionNumber
ORDER BY           SlipNumber
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[4] 2[33] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 99
               Right = 195
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "b"
            Begin Extent = 
               Top = 6
               Left = 233
               Bottom = 99
               Right = 390
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WV_ServiceCostSummary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WV_ServiceCostSummary'
GO
