USE [WPH_DB]
GO
/****** Object:  View [dbo].[WV_CarInventoryStock]    Script Date: 08/04/2014 09:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WV_CarInventoryStock]
AS
SELECT                  I.InventoryMonth, I.DepartmentCode, D.DepartmentName, I.LocationCode, L.LocationName, I.SalesCarNumber, S.Vin, W.CarBrandName, W.CarName, 
                                  W.CarGradeName, S.MorterViecleOfficialCode, S.RegistrationNumberType, S.RegistrationNumberKana, S.RegistrationNumberPlate, I.Quantity, 
                                  A.Name AS NewUsedName, B.Name AS CarStatusName, I.Summary, I.PartsNumber, S.NewUsedType, A.DisplayOrder, W.MakerName, S.CarStatus, 
                                  S.UserCode, S.OwnerCode, C.Name AS InventoryName, I.InventoryType
FROM                     dbo.InventoryStock AS I LEFT OUTER JOIN
                                  dbo.c_InventoryType AS C ON I.InventoryType = C.Code LEFT OUTER JOIN
                                  dbo.SalesCar AS S ON I.SalesCarNumber = S.SalesCarNumber LEFT OUTER JOIN
                                  dbo.Location AS L ON I.LocationCode = L.LocationCode LEFT OUTER JOIN
                                  dbo.Department AS D ON I.DepartmentCode = D.DepartmentCode LEFT OUTER JOIN
                                  dbo.c_NewUsedType AS A ON S.NewUsedType = A.Code LEFT OUTER JOIN
                                  dbo.c_CarStatus AS B ON S.CarStatus = B.Code LEFT OUTER JOIN
                                  dbo.WV_CarMaster AS W ON S.CarGradeCode = W.CarGradeCode
WHERE                   (I.DelFlag = '0') AND (I.InventoryType <> '002')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[14] 2[27] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "I"
            Begin Extent = 
               Top = 45
               Left = 595
               Bottom = 315
               Right = 801
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "C"
            Begin Extent = 
               Top = 31
               Left = 938
               Bottom = 139
               Right = 1086
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "S"
            Begin Extent = 
               Top = 6
               Left = 282
               Bottom = 114
               Right = 519
            End
            DisplayFlags = 280
            TopColumn = 11
         End
         Begin Table = "L"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "D"
            Begin Extent = 
               Top = 114
               Left = 282
               Bottom = 222
               Right = 488
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "A"
            Begin Extent = 
               Top = 222
               Left = 38
               Bottom = 330
               Right = 186
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "B"
            Begin Extent = 
               Top = 222
               Left = 224
               Bottom = 330
               Right = 372
            End
            DisplayFlags = 280
            TopColumn = 0
         En' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WV_CarInventoryStock'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'd
         Begin Table = "W"
            Begin Extent = 
               Top = 222
               Left = 410
               Bottom = 330
               Right = 563
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 27
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WV_CarInventoryStock'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WV_CarInventoryStock'
GO
