USE [WPH_DB]
GO
/****** Object:  View [dbo].[WV_ServiceReport_v2]    Script Date: 08/04/2014 09:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WV_ServiceReport_v2]
AS
SELECT                  SSH.SlipNumber, SSH.RevisionNumber, SSH.DepartmentCode, SSH.ServiceOrderStatus, dbo.c_ServiceOrderStatus.Name, SSH.QuoteDate, 
                                  SSH.SalesOrderDate, SSH.WorkingEndDate, SSH.SalesDate, SSH.EngineerTotalAmount, SSH.PartsTotalAmount, SSH.CostTotalAmount, SSH.DelFlag, 
                                  SSL.PartsCost, SSL.ServiceCost
FROM                     dbo.ServiceSalesHeader AS SSH LEFT OUTER JOIN
                                  dbo.WV_ServiceCostSummary AS SSL ON SSH.SlipNumber = SSL.SlipNumber AND SSH.RevisionNumber = SSL.RevisionNumber LEFT OUTER JOIN
                                  dbo.c_ServiceOrderStatus ON SSH.ServiceOrderStatus = dbo.c_ServiceOrderStatus.Code
WHERE                   (SSH.DelFlag = '0')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[17] 4[16] 2[28] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SSH"
            Begin Extent = 
               Top = 3
               Left = 0
               Bottom = 194
               Right = 266
            End
            DisplayFlags = 280
            TopColumn = 21
         End
         Begin Table = "c_ServiceOrderStatus"
            Begin Extent = 
               Top = 0
               Left = 406
               Bottom = 108
               Right = 554
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SSL"
            Begin Extent = 
               Top = 108
               Left = 304
               Bottom = 216
               Right = 461
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 16
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WV_ServiceReport_v2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WV_ServiceReport_v2'
GO
