USE [WPH_DB]
GO
/****** Object:  View [dbo].[V_SchemaInfo]    Script Date: 08/04/2014 09:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_SchemaInfo]
AS
SELECT
    C.TABLE_NAME AS TableName,
    C.COLUMN_NAME AS ColumnName,
    (SELECT value
	FROM   ::fn_listextendedproperty (NULL, 'user', 'dbo', 'table', C.TABLE_NAME, 'column', default)
	WHERE objname=C.COLUMN_NAME collate Japanese_CI_AS) as JpName,
	C.DATA_TYPE AS DataType,
    CASE c.CHARACTER_MAXIMUM_LENGTH WHEN -1 THEN 'MAX' WHEN NULL THEN '' ELSE ISNULL(CONVERT(VARCHAR(10), c.CHARACTER_MAXIMUM_LENGTH), '') END AS MaximumLength,
    CASE WHEN k.CONSTRAINT_NAME IS NULL THEN 0 ELSE 1 END AS IsPK,
    CASE WHEN c.IS_NULLABLE = 'NO' THEN 0 ELSE 1 END AS IsNullable,
    COLUMNPROPERTY(OBJECT_ID(QUOTENAME(C.TABLE_SCHEMA) + '.' + QUOTENAME(C.TABLE_NAME)), C.COLUMN_NAME, 'IsIdentity') AS IsIdentity,
    C.NUMERIC_PRECISION AS NumericPrecision,
    C.NUMERIC_SCALE AS NumericScale
FROM
    INFORMATION_SCHEMA.COLUMNS AS C
    LEFT OUTER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE AS K ON C.TABLE_NAME = K.TABLE_NAME
    AND C.COLUMN_NAME = K.COLUMN_NAME
GO
